
header.main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkslategray;
    color: whitesmoke;
}

div.headline,
div.signup-form,
form.contact-info-form, 
fieldset.contact-info-form,
fieldset.newsletter-pref-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

fieldset.contact-info-form {
    border: none;
}

.placeholder-text {
    font-style: italic;
    text-align: right;
    font-size: small;    
}

input.contact-info,
select.contact-info {
    height: 45px;
    width: 100%;
    padding-right: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(166, 174, 182, 0.219);
}
